body {
    background-color: #c5edff;
    font-family: Verdana, Geneva, sans-serif;
  }
  h1 {
    color: #004d99;
    text-align: center;
  }
  p {
    color: #555;
    font-size: 18px;
  }